.App {
  text-align: center;
  margin: 0 auto;
}

img {
  width: 400px;
  height: 600px;
}

.app__layout {
  /* display: flex;
  flex-wrap: wrap;
  justify-content: center;  */
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
}

.item {
  text-align: center;
  position: relative; 
  overflow: hidden;
  width: 400px;
  margin: 0 auto ;
  box-shadow: 1px 1px 25px grey;
  border-radius: 10px;
  margin-top: 15px;
}

.app__title {
  position: absolute;
  width: 100%;
  bottom: -100px;
  background-color: rgb(15, 219, 192);
  opacity: 0;
  transition: bottom ease 0.4s;
}

.item:hover .app__title {
  opacity: 0.8;
  bottom: 0;
  width: 400px;
}

